[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sugar Stick Creator
Comment=Install Sugar on a Stick on your USB Drive
Icon=sugarstick-creator
Exec=liveusb-creator_polkit
Terminal=false
Categories=System;
StartupNotify=true

